<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @vehicle.license_plate %>
</p>

<p>
  <strong>Visit count:</strong>
  <%= @vehicle.visit_count %>
</p>

<% if @vehicle.truck? %>
  <p>
    <strong>Mud in bed:</strong>
    <%= @vehicle.muddy_bed %>
  </p>

  <p>
    <strong>Tailgate Down:</strong>
    <%= @vehicle.tailgate_down %>
  </p>
<% end %>

<p>
  <strong>Total for visit:</strong>
  <%= "$#{ @vehicle.cost }" %>
</p>

<%= link_to 'All vehicles', vehicles_path %> |
<%= link_to 'Delete car', @vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
